:root{
    --primero: #8bc34a;
    --segundo: #03a9f4;
    --tercero: #ab47bc;
    --cuarto: #ffb300;
    --gris: #ecf0f5;
    --azul: #25476a;
}

html{
    height: 100vh;
}

body{
    
    background-color: lightskyblue;
}

.elfooter {
    background-color: #242424;
}

.logos-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }