:root{
    --primero: #8bc34a;
    --segundo: #03a9f4;
    --tercero: #ab47bc;
    --cuarto: #ffb300;
    --gris: #ecf0f5;
    --azul: #25476a;
}

html{
    height: 100vh;
}

body{
    background-image: url(../img/background.jpg);
    background-size: auto;
    background-repeat: no-repeat;
}

.elfooter {
    background-color: #242424;
}

.logos-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

a {
    text-decoration: none;
    font-size: 2rem;
    color: var(--cuarto);
}

a:hover{
    color: orangered;
}

h1{
    color: white;
}

.btn-modificar{
    background-color: #6610f2;
    color: white;
}

.btn-modificar:hover{
    background-color: #520dc2;
    color: white;
}